<mat-nav-list class="sidebar">
  <mat-list-item routerLink="/dashboard/home">
    <span> Dashboard</span>
  </mat-list-item>

  <mat-list-item routerLink="/dashboard/clinic">
    <span> Clinic</span>
  </mat-list-item>

  <mat-list-item routerLink="/dashboard/clinic-admin">
    <span> Clinic Admin</span>
  </mat-list-item>

  <mat-list-item routerLink="/dashboard/practitioner">
    <span> Practitioner</span>
  </mat-list-item>

  <mat-list-item routerLink="/dashboard/patient">
    <span> Patient</span>
  </mat-list-item>
</mat-nav-list>
